@import "mixins.scss";
@import './variables.scss';

body, html {
    font-family: Helvetica;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 4.6rem;
    letter-spacing: 0.2rem;
    margin: 0;
}

p, span {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin: 0 1rem;
}

.app {
    width: 375px;
    height: 700px;
}

main {
    width: 375px;
    height: 700px;
}

section {
    width: 375px;
    height: 700px;
    background-color: #fff;
    flex-direction: column;
    @include flex-center;
    display: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}

section.active {
    display: flex;
}

img {
    width: 100%;
}

button {
    @include button-default;
}

.timer-setup-screen {
    width: 100%;
    .time-step-wrapper {
        width: 100%;
        @include flex-center;
        justify-content: space-around;
        button {
            width: 30px;
            height: 60px;
            background-color: transparent;
            border: none;
            outline: none;
            background-image: url(../images/arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        .step-right {
            transform: rotateY(180deg);
        }
    }
    .timer-type-wrapper {
        width: 100%;
        flex-direction: column;
        @include flex-center;
        margin: 3rem 0 1rem 0;
    }
    .checkbox {
        @include flex-start;
        width: 300px;
        margin: 0.5rem 0;
        .box {
            @include checkBox;
        }
        .box.checked {
            background-color: #000;
        }
    }
    .timers-wrapper {
        margin: 1rem 0;
    }
}

.visual-time {
    @include visual-time;
}